.checkbox {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  &__input {
    width: 19px;
    height: 19px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    flex-shrink: 0;
    &:checked {
      background-image: url("../../assets/img/icon/tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 11px;
    }
    &:disabled {
      background-color: #f4f4f4;
      cursor: not-allowed;
      &:checked {
        background-image: svg-load("./icon/tick.svg", fill=#818181);
      }
      &:focus {
        border: 1px solid #0e49fb;
      }
      & ~ .checkbox__text {
        color: #818181;
        cursor: not-allowed;
      }
    }
  }
  &__text {
    display: inline-block;
  }
}
